{% extends "students/base.html" %}
{% load i18n %}
{% block content %}
    <div style="width: 400px; margin-right: auto; margin-left: auto; text-align: center; ">
        <div class="row">
            <form id="this-form" role="form" style="text-align: left; " method="post" enctype="multipart/form-data">
                <div style="padding: 0 20px;">
                    <h3 class="m-t-none m-b">{{ title }}</h3>
                    {% for field in form %}
                        <div class="form-group {% if field.errors %}has-error{% endif %} ">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                <div class="help-block">
                                    {{ field.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <button class="form-control button-link" type="submit">
                        <strong>{% trans 'Ок' %}</strong>
                    </button>
                    {% csrf_token %}
                </div>
            </form>
            <script>
                $(document).ready(function () {
                    $("#this-form").find("input").each(function () {
                        $(this).addClass("form-control");
                    });
                    $("#this-form").find("select").each(function () {
                        $(this).addClass("form-control");
                    });
                })
            </script>
        </div>
    </div>
{% endblock %}