{% extends "students/base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div style="width: 100%; max-width: 400px;  margin-right: auto; margin-left: auto; text-align: center; ">
        <div class="row">
            {% if validlink %}
                <form id="this-form" action="" method="post">
                    <div style="padding: 0 20px;">
                        <h3 class="m-t-none m-b">{{ title }}</h3>
                        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                        {% for field in form %}
                            <div class="form-group {% if field.errors %}has-error{% endif %} ">
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.errors %}
                                    <div class="help-block">
                                        {{ field.errors.0 }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <button class="form-control button-link" type="submit">
                            <strong>{% trans 'Change my password' %}</strong>
                        </button>
                        {% csrf_token %}
                    </div>
                </form>
                <script>
                    $(document).ready(function () {
                        $("#this-form").find("input").each(function () {
                            $(this).addClass("form-control");
                        });
                        $("#this-form").find("select").each(function () {
                            $(this).addClass("form-control");
                        });
                    })
                </script>
            {% else %}
                <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
