{% extends 'students/base.html' %}

{% load staticfiles my_tags i18n %}
{% block content %}

    <div class="jumbotron">
        <h1>Добро пожаловать!</h1>
        <p>
            На этом сайте вы будете получать лекции, лабораторные работы, проходить тесты, следить за своими результатами и задавать вопросы преподавателю.
        </p>
        <p>
            Сайт находится на стадии разработки, поэтому многие функции еще не работают.
        </p>
        <p>
            {% if user.is_authenticated %}
                <a class="btn btn-lg btn-primary" href="/" role="button">Идем учиться »</a>
            {% else %}
                <a class="btn btn-lg btn-primary" href="{% url 'login' %}" role="button">Войти</a>
                <a class="btn btn-lg btn-info" href="{% url 'register' %}" role="button">Регистрация</a>
            {% endif %}
        </p>
    </div>

{% endblock %}
