{% load staticfiles i18n my_tags pipeline %}
<!doctype html>
<html lang="ru">
<head>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'ico/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'ico/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'ico/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'ico/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'ico/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {% block title %}
        <title>Курсы и статьи по программированию, по Python, Java</title>
    {% endblock %}
    <meta name="keyword" content="курсы, python, лабораторки, ИВТ, политех, лабораторные работы, головоломки, Бишкек, Кыргызстан, Универские курсы">
    {% block description %}
        <meta name="description" content="{% trans 'Курсы по программированию. Статьи по программированию. Python, Django, Java, Компьютерная графика' %}">
    {% endblock %}

    {% javascript 'students' %}
    {% stylesheet 'students' %}

    {% block head %}

    {% endblock %}
    {% include "blocks/analytics.html" %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ИВТ Политех</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated and is_teacher %}
                        <li><a href="{% url 'teacher_groups' %}">Мои группы</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Мои курсы <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'all_courses' %}">{{ 'university'|fa }} Все курсы</a></li>
                                {% for course in user.teacher.courses.all %}
                                    <li><a href="{% url 'course' course.id %}">{{ course }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% elif user.is_authenticated and is_student %}
                        <li><a href="{% url 'my_group' %}">Моя группа</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Мои курсы <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for course in user.student.courses %}
                                    <li><a href="{% url 'course' course.id %}">{{ course }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if user.is_admin %}
                        <li><a href="{% url 'all_teachers' %}">Преподаватели</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'contests' %}">Контест</a></li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Ништяки<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'puzzles' %}">Головоломки</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'cooler' %}">Ништяки</a></li>
                                <li><a href="{% url 'exercises' %}">Упражнения</a></li>
                                <li><a href="{% url 'sensei' %}">Сенсей</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        {% get_unread_chats user as unread_chats %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false"><span class="fa fa-comments"></span> <span
                                    class="label label-danger label-as-badge">{{ unread_chats.total }}</span></a>
                            <ul class="dropdown-menu">
                                {% for course in unread_chats.courses %}
                                    <li><a href="{% url 'chat' course.id %}">
                                        {{ course.name }}
                                        <span class="label label-danger label-as-badge">{{ course.unread_count }}</span>
                                    </a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{% url 'profile' %}" id="user-id">{{ user.get_full_name }}</a></li>
                        <li><a href="{% url 'logout' %}">Выйти</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Войти</a></li>
                        <li><a href="{% url 'register_student' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <div class="messages">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible {{ message.tags|bootstrapize:'alert-' }}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</div>
<footer class="footer">
    <div class="container">
        <p style="float: left;">Designed and built for students by <a href="mailto:masteraalish@gmail.com"><u>Alisher Alikulov</u></a></p>
        <p style="float: right;"></p>
    </div>
</footer>
</body>
</html>