{% load staticfiles i18n my_tags %}
<html>
<head>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">
    <title>{% trans 'Универские курсы' %}</title>
    <meta name="keyword" content="Универские курсы">
    <meta name="description" content="{% trans 'Универские курсы' %}">
    <script src="{% static 'js/students/jquery-2.1.1.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/students/utils.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/bootstrap-datepicker.ru.min.js' %}" type="application/javascript"></script>

    <link rel="stylesheet" href="{% static 'css/students/students.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/students/font-awesome.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" type="text/css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">
    {% block head %}

    {% endblock %}
    {% include "blocks/analytics.html" %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ИВТ Политех</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated and user|is_teacher %}
                        <li><a href="{% url 'teacher_groups' %}">Мои группы</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Мои курсы <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for course in user.teacher.courses.all %}
                                    <li><a href="{% url 'course' course.id %}">{{ course }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% elif user.is_authenticated and user|is_student %}
                        <li><a href="{% url 'my_group' %}">Моя группа</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Мои курсы <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for course in user.student.courses %}
                                    <li><a href="{% url 'course' course.id %}">{{ course }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    {#                    <li><a href="{% url 'contest' %}">Контест</a></li>#}

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        {% get_unread_chats user as unread_chats %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false"><span class="fa fa-comments"></span> <span
                                    class="label label-danger label-as-badge">{{ unread_chats.total }}</span></a>
                            <ul class="dropdown-menu">
                                {% for course in unread_chats.courses %}
                                    <li><a href="{% url 'chat' course.id %}">
                                        {{ course.name }}
                                        <span class="label label-danger label-as-badge">{{ course.unread_count }}</span>
                                    </a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{% url 'profile' %}" id="user-id">{{ user.get_full_name }}</a></li>
                        <li><a href="{% url 'logout' %}">Выйти</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Войти</a></li>
                        <li><a href="{% url 'register' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <div class="messages">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible {{ message.tags|bootstrapize:'alert-' }}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</div>
<footer class="footer">
    <div class="container">
        <p style="float: left;">Designed and built for students by Alisher</p>
        <p style="float: right;"><a href="https://freedns.afraid.org/">Free DNS</a></p>
    </div>
</footer>
</body>
</html>