{% extends 'students/base.html' %}
{% load staticfiles my_tags i18n %}
{% block head %}
    <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/monokai.css' %}"/>
    <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
    <style>
        code {
            overflow: scroll;
            white-space: inherit !important;
            word-wrap: normal !important;
        }

        pre {
            padding: 0px !important;
            background-color: transparent !important;
        }
    </style>
{% endblock %}
{% block content %}
    {% if is_mobile %}
        <div class="row">
            <div class="col-sm-12 " style="text-align: center; margin-bottom: 20px;" >
                <div style="font-size: 16px; color: #003377; margin-bottom: 10px;">Скачайте мобильное приложение для сайта! </div>
                <a style="width: 40%; display: inline-block;" href="https://play.google.com/store/apps/details?id=ma.apps.students">
                    <img style="width: 100%;" src="{% static 'img/google-play.png' %}">
                </a>
                <a style="width: 40%; display: inline-block;" href="https://play.google.com/store/apps/details?id=ma.apps.students">
                    <img style="width: 100%;" src="{% static 'img/google-play.png' %}">
                </a>
            </div>
        </div>
    {% endif %}


    <div class="jumbotron">
        <h1>С наступающим!</h1>
        <p>
            На этом сайте вы будете получать лекции, лабораторные работы, проходить тесты, следить за своими
            результатами и задавать вопросы преподавателю.
        </p>
        <p>
            С Новым Годом! <span class="fa fa-tree"></span>
        </p>
        <p>
            {% if user.is_authenticated %}
                <a class="btn btn-lg btn-primary" href="/" role="button"
                   onclick="this.innerHTML='Ок, иди, учись!'; return false;">Идем учиться »</a>
            {% else %}
                <a class="btn btn-lg btn-primary" href="{% url 'login' %}" role="button">Войти</a>
                <a class="btn btn-lg btn-info" href="{% url 'register_student' %}" role="button">Регистрация</a>
            {% endif %}
        </p>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>Последние статьи</h3>
            {% for article in articles %}
                <div class="article">
                    <div class="article-date">{{ article.datetime|timesince }} назад</div>
                    <div class="article-title">
                        {% if article.course %}
                            <a href="{% url 'course' article.course.id %}">{{ article.course.name }}</a> →
                        {% endif %}
                        <a href="{% url 'article' article.id %}">{{ article.title }}</a>
                    </div>
                    <div class="article-preview">{{ article.preview|safe }}</div>
                    <a href="{% url 'article' article.id %}" class="btn btn-default btn-sm">Читать дальше →</a>
                    <div class="clearfix"></div>
                    <div class="article-data">
                        <span class="fa fa-eye"></span> {{ article.viewed }} <span class="tab"></span>
                        <span class="fa fa-mobile"></span> {{ article.viewed_mobile }} <span class="tab"></span>
                        <span class="fa fa-user"></span> {{ article.author.get_full_name }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
