body {
    padding-top: 20px;
}

main {
    min-height: 70%;
    min-height: -webkit-calc(100% - 186px);
    min-height: -moz-calc(100% - 186px);
    min-height: calc(100% - 186px);
}

.navbar {
    margin-bottom: 20px;
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 80px;
    color: #646466;
    text-align: left;
    background-color: #e3e1e5
}

@media print {
    .navbar, .footer{
        display: none;
    }
}

.footer a {
    color: #646466 !important;
}

.mini-student-avatar {
    width: 32px;
    height: 32px;
    display: inline;
}

.mini-student-avatar img {
    max-width: 32px;
    max-height: 32px;
}

.big-student-avatar {
    width: 256px;
    height: 256px;
    display: inline;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.big-student-avatar img {
    max-width: 256px;
    max-height: 256px;
}

.django-ckeditor-widget {
    display: block !important;
}

.medal {
    display: inline-block;
}

.medal img {
    width: 40px;
    height: 40px;
}

.note {
    cursor: pointer;
    color: rgb(38, 88, 87);
}

.label-as-badge {
    border-radius: 1em !important;
}


.christmas-tree{
    width: 200px;
    position: fixed;
    bottom: 10px;
    right:50px;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    -ms-transition: opacity 400ms;
    -o-transition: opacity 400ms;
    transition: opacity 400ms;
}

.christmas-tree:hover{
    opacity: 0.2;
}

.last-seen {
    margin-left: 20px;
    font-size: 11px;
    color: grey;
    font-style: italic;
}

.rating {
    font-size: 11px;
    color: #00395a;
}

.rating img{
    height: 12px;
}

.long-view {
    overflow: scroll !important;
}

.article {
    margin-bottom: 30px;
}

.article .article-date {
    display: inline-block;
    vertical-align: baseline;
    color: #7e7e7e;
    font-size: 11px;
    margin-bottom: 2px
}

.article .article-title {
    margin-bottom: 10px;
}

.article .article-title, .article .article-title a {
    font-family: 'Fira Sans', sans-serif;
    line-height: 34px;
    font-size: 28px;
    color: #25b5d4
}

.article .article-preview {
    margin-top: 10px;
}

.article .article-data {
    color: #8e8e8e;
    margin-top: 10px;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 5px;
    border: 1px solid #c5c5c5;
}

.article img {
    max-width: 100%;
}

.tab {
    display: inline-block;
    width: 20px;
}

.todo {
    display: block;
    background-color: #f8f8f8;
    padding: 5px 10px;
    border-bottom: 1px solid rgb(222, 215, 233);
}

.todo-check {
    padding-top: 4px;
    cursor: pointer;
    display: inline-block;
    float: left;
    margin-right: 10px !important;
}

.todo-delete {
    display: inline-block;
    float: right;
    margin-left: 10px !important;
    cursor: pointer;
    color: gray;
}

.todo-text {
    display: block;
    color: rgb(72, 73, 73);
    width: 100%;
}

.errorlist {
    color: red;
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}

.tab-pills{
    margin-bottom: 20px;
}

.tab-pill-tab{
    display: none;
}

.tab-pill-tab.active{
    display: block;
}

span.badge.badge-important{
    background-color: rgb(210, 0, 0);
}

span.badge.badge-success{
    background-color: rgb(78, 182, 57);
}

span.badge.badge-info{
    background-color: rgb(78, 169, 180);
}

.timesince{
    font-size: 10px;
    color: grey;
}

.btn{
    margin-top: 3px
}

.deadline {
    font-size: 12px;
    color: #887136;
    margin-left: 10px;
    border: 1px solid rgba(136, 120, 68, 0.33);
    padding: 0px 10px;
    border-radius: 5px;
}

.must-know-group-item{
    margin-top: 10px;
    font-weight: bold;
}

.must-know-item{
    color: red;
}

.must-know-item.done{
    color: #35a136;
}

.must-know-item .fa{
    cursor: pointer;
}

.must-knows-progress{
    color: red;
}

.must-knows-progress .done{
    color: #35a136;
    font-size: larger;
}

.margin-left-20{
    margin-left: 20px;
}