body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.mini-student-avatar {
    width: 32px;
    height: 32px;
    display: inline;
}

.mini-student-avatar img {
    max-width: 32px;
    max-height: 32px;
}

.big-student-avatar {
    width: 256px;
    height: 256px;
    display: inline;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.big-student-avatar img {
    max-width: 256px;
    max-height: 256px;
}

.django-ckeditor-widget {
    display: block !important;
}

.medal {
    display: inline-block;
}

.medal img {
    width: 40px;
    height: 40px;
}

.note {
    cursor: pointer;
    color: rgb(38, 88, 87);
}

.label-as-badge {
    border-radius: 1em !important;
}

.last-seen {
    font-size: 11px;
    color: grey;
    font-style: italic;
}

.long-view {
    overflow: scroll !important;
}

.article {
    margin-bottom: 30px;
}

.article .article-date {
    display: inline-block;
    vertical-align: baseline;
    color: #7e7e7e;
    font-size: 11px;
    margin-bottom: 2px
}

.article .article-title {
    margin-bottom: 10px;
}

.article .article-title, .article .article-title a {
    font-family: 'Fira Sans', sans-serif;
    line-height: 34px;
    font-size: 28px;
    color: #47738d
}

.article .article-preview {
    margin-top: 10px;
}

.article .article-data {
    color: #8e8e8e;
    margin-top: 10px;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 5px;
    border: 1px solid #c5c5c5;
}

.article img {
    max-width: 100%;
}

.tab {
    display: inline-block;
    width: 20px;
}

.todo {
    display: block;
    background-color: #f8f8f8;
    padding: 5px 10px;
    border-bottom: 1px solid rgb(222, 215, 233);
}

.todo-check {
    padding-top: 4px;
    cursor: pointer;
    display: inline-block;
    float: left;
    margin-right: 10px !important;
}

.todo-delete {
    display: inline-block;
    float: right;
    margin-left: 10px !important;
    cursor: pointer;
    color: gray;
}

.todo-text {
    display: block;
    color: rgb(72, 73, 73);
    width: 100%;
}