@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.mini-student-avatar{
  width: 32px;
  height: 32px;
  display: inline;
}

.mini-student-avatar img{
  max-width: 32px;
  max-height: 32px;
}