<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <META NAME="viewport" CONTENT="width=768">
    <META HTTP-EQUIV="X-UA-Compatible" CONTENT="IE=edge">
    <TITLE>Результаты проверки @ Timus Online Judge</TITLE>
    <LINK REL="alternate" HREFLANG="x-default" HREF="/status.aspx">
    <LINK REL="alternate" HREFLANG="en-us" HREF="/status.aspx?locale=en">
    <LINK REL="alternate" HREFLANG="ru-ru" HREF="/status.aspx?locale=ru">
    <LINK REL="stylesheet" TYPE="text/css" HREF="/style50.css">
    <LINK REL="shortcut icon" TYPE="image/x-icon" HREF="/favicon.ico">
</HEAD>
<BODY>
<TABLE WIDTH="100%" CELLSPACING="0" CELLPADDING="0" CLASS="body">
    <TR>
        <TD CLASS="caption">
            <TABLE WIDTH="100%" CELLSPACING="0" CELLPADDING="0">
                <TR>
                    <TD WIDTH="130" CLASS="locale"><A HREF="/status.aspx?locale=en">ENG</A>&nbsp;&nbsp;<A
                            HREF="/status.aspx?locale=ru">RUS</A></TD>
                    <TD CLASS="title"><A HREF="/">Timus Online Judge</A></TD>
                    <TD WIDTH="130"></TD>
                </TR>
            </TABLE>
        </TD>
    </TR>
    <TR>
        <TD CLASS="panel">
            <TABLE WIDTH="100%" CELLSPACING="0" CELLPADDING="0">
                <TR>
                    <TD WIDTH="130" VALIGN="TOP" ALIGN="CENTER" STYLE="padding-bottom:5px;"><A HREF="/"><IMG BORDER="0"
                                                                                                             SRC="/images/usu-summer.jpg"
                                                                                                             HEIGHT="134"
                                                                                                             WIDTH="106"
                                                                                                             ALT=""></A>
                    </TD>
                    <TD VALIGN="TOP" ALIGN="LEFT">
                        <TABLE WIDTH="100%" CELLSPACING="0" CELLPADDING="0" CLASS="panel">
                            <TR>
                                <TH WIDTH="25%">
                                    <DIV>Online Judge</DIV>
                                </TH>
                                <TH WIDTH="25%">
                                    <DIV>Задачи</DIV>
                                </TH>
                                <TH WIDTH="25%">
                                    <DIV>Авторы</DIV>
                                </TH>
                                <TH WIDTH="25%">
                                    <DIV>Соревнования</DIV>
                                </TH>
                            </TR>
                            <TR>
                                <TD VALIGN="TOP" ALIGN="LEFT"><A HREF="/">О системе</A><BR><A
                                        HREF="/help.aspx?topic=faq">Часто задаваемые вопросы</A><BR><A
                                        HREF="/news.aspx">Новости сайта</A><BR><A HREF="/forum/">Форум</A><BR><A
                                        HREF="/help.aspx?topic=links">Ссылки</A><BR></TD>
                                <TD VALIGN="TOP" ALIGN="LEFT"><A HREF="/problemset.aspx">Архив задач</A><BR><A
                                        HREF="/submit.aspx">Отправить на проверку</A><BR><A HREF="/status.aspx">Состояние
                                    проверки</A><BR><A HREF="/help.aspx?topic=judge">Руководство</A><BR></TD>
                                <TD VALIGN="TOP"><A HREF="/register.aspx">Регистрация</A><BR><A HREF="/authedit.aspx">Исправить
                                    данные</A><BR><A HREF="/ranklist.aspx">Рейтинг авторов</A><BR>
                                    <FORM ACTION="/search.aspx" METHOD="GET" STYLE="margin-top:0.6em;"><INPUT NAME="Str"
                                                                                                              SIZE="12"
                                                                                                              VALUE=""
                                                                                                              PLACEHOLDER="Имя автора">
                                        <INPUT TYPE="SUBMIT" VALUE="Поиск"></FORM>
                                </TD>
                                <TD VALIGN="TOP"><A HREF="/contest.aspx">Текущее соревнование</A><BR><A
                                        HREF="/schedule.aspx">Расписание</A><BR><A HREF="/archive.aspx">Прошедшие
                                    соревнования</A><BR><A HREF="/help.aspx?topic=contest">Правила</A><BR></TD>
                            </TR>
                        </TABLE>
                    </TD>
                </TR>
            </TABLE>
        </TD>
    </TR>
    <TR>
        <TD STYLE="padding-top: 32px; padding-bottom: 20px;"><H2 CLASS="title">Результаты проверки решений</H2>
            <TABLE cellspacing="0" cellpadding="0" ALIGN="center" class="status status_nofilter">
                <TR class="header">
                    <TH class="id">ID</TH>
                    <TH class="date">Дата</TH>
                    <TH class="coder">Автор</TH>
                    <TH class="problem">Задача</TH>
                    <TH class="language">Язык</TH>
                    <TH class="result">Результат проверки</TH>
                    <TH class="test">№ теста</TH>
                    <TH class="runtime">Время работы</TH>
                    <TH class="memory">Выделено памяти</TH>
                </TR>
                <TR class="even">
                    <TD class="id">7261904</TD>
                    <TD class="date">
                        <NOBR>14:26:36</NOBR>
                        <BR>
                        <NOBR>15 фев 2017</NOBR>
                    </TD>
                    <TD class="coder"><A HREF="author.aspx?id=19306">ACRush</A></TD>
                    <TD class="problem"><A HREF="problem.aspx?space=1&amp;num=2082">2082<SPAN CLASS="problemname">. Покер</SPAN></A>
                    </TD>
                    <TD class="language">G++ 4.9 C++11</TD>
                    <TD class="verdict_ac">Accepted</TD>
                    <TD class="test"><BR></TD>
                    <TD class="runtime">0.015</TD>
                    <TD class="memory">624 КБ</TD>
                </TR>
                <TR class="odd">
                    <TD class="id">7261903</TD>
                    <TD class="date">
                        <NOBR>14:26:21</NOBR>
                        <BR>
                        <NOBR>15 фев 2017</NOBR>
                    </TD>
                    <TD class="coder"><A HREF="author.aspx?id=151253">Tenten</A></TD>
                    <TD class="problem"><A HREF="problem.aspx?space=1&amp;num=1889">1889<SPAN CLASS="problemname">. Объявление в аэропорту</SPAN></A>
                    </TD>
                    <TD class="language">G++ 4.9 C++11</TD>
                    <TD class="verdict_ac">Accepted</TD>
                    <TD class="test"><BR></TD>
                    <TD class="runtime">0.015</TD>
                    <TD class="memory">896 КБ</TD>
                </TR>
                <TR class="even">
                    <TD class="id">7261902</TD>
                    <TD class="date">
                        <NOBR>14:26:12</NOBR>
                        <BR>
                        <NOBR>15 фев 2017</NOBR>
                    </TD>
                    <TD class="coder"><A HREF="author.aspx?id=224482">Valentine</A></TD>
                    <TD class="problem"><A HREF="problem.aspx?space=1&amp;num=2066">2066<SPAN CLASS="problemname">. Простое выражение</SPAN></A>
                    </TD>
                    <TD class="language">G++ 4.9 C++11</TD>
                    <TD class="verdict_rj">Wrong answer</TD>
                    <TD class="test">1</TD>
                    <TD class="runtime">0.001</TD>
                    <TD class="memory">404 КБ</TD>
                </TR>
                <TR class="odd">
                    <TD class="id">7261901</TD>
                    <TD class="date">
                        <NOBR>14:24:34</NOBR>
                        <BR>
                        <NOBR>15 фев 2017</NOBR>
                    </TD>
                    <TD class="coder"><A HREF="author.aspx?id=224505">Alamin</A></TD>
                    <TD class="problem"><A HREF="problem.aspx?space=1&amp;num=1000">1000<SPAN CLASS="problemname">. A+B Problem</SPAN></A>
                    </TD>
                    <TD class="language">Clang 3.5 C++14</TD>
                    <TD class="verdict_rj">Wrong answer</TD>
                    <TD class="test">1</TD>
                    <TD class="runtime">0.001</TD>
                    <TD class="memory">232 КБ</TD>
                </TR>
                <TR class="even">
                    <TD class="id">7261900</TD>
                    <TD class="date">
                        <NOBR>14:24:21</NOBR>
                        <BR>
                        <NOBR>15 фев 2017</NOBR>
                    </TD>
                    <TD class="coder"><A HREF="author.aspx?id=224504">Fess59</A></TD>
                    <TD class="problem"><A HREF="problem.aspx?space=1&amp;num=1000">1000<SPAN CLASS="problemname">. A+B Problem</SPAN></A>
                    </TD>
                    <TD class="language">Visual C# 2010</TD>
                    <TD class="verdict_rj">Wrong answer</TD>
                    <TD class="test">1</TD>
                    <TD class="runtime">0.046</TD>
                    <TD class="memory">960 КБ</TD>
                </TR>
                <TR class="odd">
                    <TD class="id">7261899</TD>
                    <TD class="date">
                        <NOBR>14:23:31</NOBR>
                        <BR>
                        <NOBR>15 фев 2017</NOBR>
                    </TD>
                    <TD class="coder"><A HREF="author.aspx?id=224482">Valentine</A></TD>
                    <TD class="problem"><A HREF="problem.aspx?space=1&amp;num=2066">2066<SPAN CLASS="problemname">. Простое выражение</SPAN></A>
                    </TD>
                    <TD class="language">G++ 4.9 C++11</TD>
                    <TD class="verdict_rj">Wrong answer</TD>
                    <TD class="test">1</TD>
                    <TD class="runtime">0.001</TD>
                    <TD class="memory">404 КБ</TD>
                </TR>
                <TR class="even">
                    <TD class="id">7261898</TD>
                    <TD class="date">
                        <NOBR>14:23:11</NOBR>
                        <BR>
                        <NOBR>15 фев 2017</NOBR>
                    </TD>
                    <TD class="coder"><A HREF="author.aspx?id=224504">Fess59</A></TD>
                    <TD class="problem"><A HREF="problem.aspx?space=1&amp;num=1000">1000<SPAN CLASS="problemname">. A+B Problem</SPAN></A>
                    </TD>
                    <TD class="language">Visual C# 2010</TD>
                    <TD class="verdict_rj">Wrong answer</TD>
                    <TD class="test">1</TD>
                    <TD class="runtime">0.015</TD>
                    <TD class="memory">980 КБ</TD>
                </TR>
                <TR class="odd">
                    <TD class="id">7261897</TD>
                    <TD class="date">
                        <NOBR>14:22:06</NOBR>
                        <BR>
                        <NOBR>15 фев 2017</NOBR>
                    </TD>
                    <TD class="coder"><A HREF="author.aspx?id=149941">Djok</A></TD>
                    <TD class="problem"><A HREF="problem.aspx?space=1&amp;num=1182">1182<SPAN CLASS="problemname">. Team Them Up!</SPAN></A>
                    </TD>
                    <TD class="language">G++ 4.9 C++11</TD>
                    <TD class="verdict_rj">Wrong answer</TD>
                    <TD class="test">9</TD>
                    <TD class="runtime">0.015</TD>
                    <TD class="memory">460 КБ</TD>
                </TR>
                <TR class="even">
                    <TD class="id">7261896</TD>
                    <TD class="date">
                        <NOBR>14:21:36</NOBR>
                        <BR>
                        <NOBR>15 фев 2017</NOBR>
                    </TD>
                    <TD class="coder"><A HREF="author.aspx?id=222319">Alex</A></TD>
                    <TD class="problem"><A HREF="problem.aspx?space=1&amp;num=1493">1493<SPAN CLASS="problemname">. В одном шаге от счастья</SPAN></A>
                    </TD>
                    <TD class="language">Visual C# 2010</TD>
                    <TD class="verdict_rj">Wrong answer</TD>
                    <TD class="test">6</TD>
                    <TD class="runtime">0.046</TD>
                    <TD class="memory">1 024 КБ</TD>
                </TR>
                <TR class="odd">
                    <TD class="id">7261895</TD>
                    <TD class="date">
                        <NOBR>14:21:21</NOBR>
                        <BR>
                        <NOBR>15 фев 2017</NOBR>
                    </TD>
                    <TD class="coder"><A HREF="author.aspx?id=224505">Alamin</A></TD>
                    <TD class="problem"><A HREF="problem.aspx?space=1&amp;num=1000">1000<SPAN CLASS="problemname">. A+B Problem</SPAN></A>
                    </TD>
                    <TD class="language">Clang 3.5 C++14</TD>
                    <TD class="verdict_rj">Wrong answer</TD>
                    <TD class="test">1</TD>
                    <TD class="runtime">0.001</TD>
                    <TD class="memory">236 КБ</TD>
                </TR>
                <TR>
                    <TD class="status_footer" colspan="9">
                        <TABLE class="status_footer" cellspacing="0" cellpadding="0">
                            <TR>
                                <TD class="footer_left">Показывать по <A href="status.aspx?space=1&amp;count=10"
                                                                         REL="nofollow">10</A> | <A
                                        href="status.aspx?space=1&amp;count=30" REL="nofollow">30</A> | <A
                                        href="status.aspx?space=1&amp;count=100" REL="nofollow">100</A> строк на
                                    странице • Обновлять каждые <A href="status.aspx?space=1&amp;refresh=15"
                                                                   REL="nofollow">15</A> | <A
                                            href="status.aspx?space=1&amp;refresh=60" REL="nofollow">60</A> | <A
                                            href="status.aspx?space=1&amp;refresh=240" REL="nofollow">240</A> секунд |
                                    <A href="status.aspx?space=1&amp;refresh=0" REL="nofollow">не обновлять</A></TD>
                                <TD class="footer_right">» <A HREF="status.aspx?space=1&amp;from=7261894">Следующие
                                    10</A></TD>
                            </TR>
                        </TABLE>
                    </TD>
                </TR>
            </TABLE>
        </TD>
    </TR>
    <TR>
        <TD CLASS="footer">
            <script type="text/javascript"> (function (d, w, c) {
                (w[c] = w[c] || []).push(function () {
                    try {
                        w.yaCounter20918869 = new Ya.Metrika({
                            id: 20918869,
                            clickmap: true,
                            trackLinks: true,
                            accurateTrackBounce: true
                        });
                    } catch (e) {
                    }
                });
                var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
                    n.parentNode.insertBefore(s, n);
                };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";
                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else {
                    f();
                }
            })(document, window, "yandex_metrika_callbacks");</script>
            <noscript>
                <div><img src="https://mc.yandex.ru/watch/20918869" style="position:absolute; left:-9999px;" alt="">
                </div>
            </noscript>
            © 2000–2017 <A HREF="/team.aspx">Timus Online Judge Team</A>. Все права защищены.
        </TD>
    </TR>
</TABLE>
</BODY>
</HTML>