{% extends 'students/base.html' %}
{% load i18n staticfiles %}
{% block title %}
    <title>Ништяки</title>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <h2>Ништяки</h2>
                <p>
                    В этом разделе буду иногда выкладывать разные интересные задачки, которые вы можете прямо на сайте решить.
                </p>
            </div>

            <ol style="font-size: 20px;">
                <li><a href="{% url 'soldier_and_tank' %}">Солдат и танк</a></li>
            </ol>
        </div>
    </div>
{% endblock %}