{% extends 'students/base.html' %}
{% load i18n staticfiles %}
{% block title %}
    <title>6. Наставник</title>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <h2>6. Сенсей!</h2>
                <p>
                    Жизнь тяжелая штука. Бывают дни когда жизнь бъет ключом. Бывают дни когда жизнь бьет кнутом.
                </p>
                <p>
                    Знай, юный падаван, что у тебя есть учитель, который будет всегда с тобой. Поможет в трудную минуту,
                    и накормит тебя в день, когда ты упадешь обессиленный от жажды и голода.
                    Поднимет тебя и даст тебе силы.
                </p>
            </div>
        </div>
    </div>
{% endblock %}