{% extends 'students/base.html' %}
{% load staticfiles my_tags i18n %}
{% block title %}
    <title>{{ subject.name }} | Статьи </title>
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/monokai.css' %}"/>
    <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
    <style>
        code {
            overflow: scroll;
            white-space: inherit !important;
            word-wrap: normal !important;
        }

        pre {
            padding: 0px !important;
            background-color: transparent !important;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <h1>{{ subject.name }}</h1>
            {% for article in articles %}
                <div class="article">
                    <div class="article-date">{{ article.datetime|timesince }} назад</div>
                    <div class="article-title">
                        <a href="{% url 'article' article.slug %}">{{ article.title }}</a>
                    </div>
                    <div class="article-preview">{{ article.preview|safe }}</div>
                    <a href="{% url 'article' article.slug %}" class="btn btn-default btn-sm">Читать дальше →</a>
                    <div class="clearfix"></div>
                    <div class="article-data">
                        <span class="fa fa-eye"></span> {{ article.viewed }} <span class="tab"></span>
                        <span class="fa fa-mobile"></span> {{ article.viewed_mobile }} <span class="tab"></span>
                        <span class="fa fa-user"></span> {{ article.author.get_full_name }}
                    </div>
                </div>
                {% if forloop.counter == 2 and app_ad %}
                    <a class="app_ad hidden-lg hidden-md" href="{{ app_ad.url }}" target="_blank">
                        <img class="app_ad_img" src="{{ app_ad.icon.url }}" alt="{{ app_id.title }}">
                        <img class="app_ad_arrow" src="{% static 'img/arrow_forward.svg' %}" alt="Arrow forward">
                        <div class="app_ad_info">
                            <div class="app_ad_title">{{ app_ad.title }}</div>
                            <div class="app_ad_subtitle">{{ app_ad.subtitle }}</div>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
