{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
    <title>Chat</title>
    <script src="{% static 'js/students/jquery.min.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
    {% block rewrite_styles %}
        <link href="{% static 'css/chat.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}
</head>
<body>
{% block chat_head %}
    <div class="chat-name">
        Чат: {{ course }}
    </div>
    <a class="back-button" href="{% url 'course' course.id %}">
        На сайт
    </a>
{% endblock %}
<div class="chat-body">
    <div class="messages" data-last-message-id="{{ last_message_id }}" data-course-id="{{ course.id }}">

        <div class="clearfix"></div>
        {% for message in messages %}
            {% if message.user %}
                {% if message.user.id == user.id %}
                    <div class="message my-message" data-id="{{ message.id }}">
                        <div class="text">
                            {{ message.body }}
                            <div class="time">{{ message.datetime|date:"d.m.Y H:i" }}</div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                {% else %}
                    <div class="message others-message" data-id="{{ message.id }}">
                        <div class="name" style="color: {{ message.color }};">{{ message.user.get_full_name }}</div>
                        <div class="text">
                            {{ message.body }}
                            <div class="time">{{ message.datetime|date:"d.m.Y H:i" }}</div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                {% endif %}
            {% else %}
                <div class="message date-bubble">
                    <div class="text">
                        {{ message }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="padding"></div>
        <div class="clearfix"></div>

    </div>
    <div class="input">
        <form method="post">
            <input id="message-input" type="text" name="message" placeholder="Введите сообщение" required/>
            <button type="submit" id="new-message-submit">
                <img src="{% static 'img/send.png' %}">
            </button>
        </form>
    </div>
</div>
<div style="display: none;">
    <audio id="player" preload="true">
        <source src="{% static 'sound/income.mp3' %}" type="audio/mpeg">
    </audio>
</div>
</body>
</html>