{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="{% static 'js/students/jquery.min.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
    <link href="{% static 'css/chat.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="chat-name">
    Чат: {{ course }}
</div>
<a class="back-button" href="{% url 'course' course.id %}">
    На сайт
</a>
<div class="chat-body">
    <div class="messages" data-last-message-id="{{ last_message_id }}" data-course-id="{{ course.id }}">

        <div class="message date-bubble">
            <div class="text">
                Это дата
            </div>
        </div>
        <div class="clearfix"></div>
        {% for message in messages %}
            {% if message.user.id == user.id %}
                <div class="message my-message" data-id="{{ message.id }}">
                    <div class="text">
                        {{ message.body }}
                        <div class="time">{{ message.datetime|date:"H:i" }}</div>
                    </div>
                </div>
                <div class="clearfix"></div>
            {% else %}
                <div class="message others-message" data-id="{{ message.id }}">
                    <div class="name">{{ message.user.get_full_name }}</div>
                    <div class="text">
                        {{ message.body }}
                        <div class="time">{{ message.datetime|date:"H:i" }}</div>
                    </div>
                </div>
                <div class="clearfix"></div>
            {% endif %}
        {% endfor %}
        <div class="padding"></div>
        <div class="clearfix"></div>

    </div>
    <div class="input">
        <form method="post">
            <input id="message-input" type="text" name="message" placeholder="Введите сообщение" required/>
            <button type="submit" id="new-message-submit">
                <img src="{% static 'img/send.png' %}">
            </button>
        </form>
    </div>
</div>
</body>
</html>