{% extends 'students/base.html' %}
{% load staticfiles my_tags i18n %}
{% block title %}
    <title>{{ course.name }} {{ course.year }}</title>
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/monokai.css' %}"/>
    <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
    <style>
        code {
            overflow: scroll;
            white-space: inherit !important;
            word-wrap: normal !important;
        }

        pre {
            padding: 0px !important;
            background-color: transparent !important;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>{{ course.name }}</h1>
    <div class="lead">
        {{ course.get_semester_display }} семестр {{ course.year }} года <br>
        Преподаватели:
        {% for teacher in course.teachers.all %}
            <a href="{% url 'teacher' teacher.id %}">
                {{ teacher.user.get_full_name }}
            </a>
            {% if not forloop.last %},{% endif %}
        {% endfor %}
        <br>
        {% if is_teacher %}
            <a class="btn btn-sm btn-info" href="{% url 'email-course' course.id %}">Написать студентам курса</a>
            <a class="btn btn-sm btn-info" href="{% url 'give-medals' course.id %}">Выдать медаль</a>
        {% endif %}
        <a class="btn btn-sm btn-default" href="{% url 'chat' course.id %}"><span class="fa fa-comments"></span> Чат</a>
        <a class="btn btn-sm btn-default" href="{% url 'marks' course.id %}"><span class="fa fa-trophy"></span> Оценки</a>
        <a class="btn btn-sm btn-default" href="{% url 'literature' course.id %}"><span class="fa fa-book"></span> Литература
            <span class="badge badge-success">{{ course.literature.all.count }}</span>
        </a>
        {% if is_student %}
            <a class="btn btn-sm btn-primary" href="{% url 'submit_homework' course.id %}"><span class="fa fa-upload"></span> Сдать домашку</a>
        {% endif %}
        {% if is_teacher %}
            <a class="btn btn-sm btn-info" href="{% url 'homeworks' course.id %}"><span class="fa fa-check-circle"></span> Проверить домашки</a>
        {% endif %}
    </div>
    <div>
        {{ course.description|safe }}
        <a class="btn btn-xs btn-warning" href="{% url 'must_knows' course.id %}">Что я буду знать?</a>
    </div>

    <div>
        <h3>Лекции
            {% if is_teacher %}
                <a class="btn btn-xs btn-info" href="{% url 'add_lecture' course.id %}">{{ 'plus'|fa }}</a>
            {% endif %}
        </h3>
        {% if course.lectures.count > 0 %}
            <ol>
                {% for lecture in course.lectures.all %}
                    <li><a href="{% url 'lecture' lecture.id %}">{{ lecture }}</a></li>
                {% endfor %}
            </ol>
        {% else %}
            Пока лекций нет
        {% endif %}
    </div>

    <div>
        <h3>
            Лабораторные работы
            {% if is_teacher %}
                <a class="btn btn-xs btn-info" href="{% url 'add_labtask' course.id %}">{{ 'plus'|fa }}</a>
                {% if new_solutions_count > 0 %}
                    <span class="badge badge-important">{{ new_solutions_count }}</span>
                {% endif %}
                <a class="btn btn-xs btn-default" href="{% url 'resolutions' course.id %}">{{ 'edit'|fa }} Проверить</a>
            {% endif %}
        </h3>
        {% if is_teacher %}
            {% if course.all_labtasks.count > 0 %}
                <ol>
                    {% for labtask in course.all_labtasks.all %}
                        <li>
                            <a href="{% url 'labtask' labtask.id %}">{{ labtask }}</a>
                            {% if not labtask.active %}
                                (Не активен)
                            {% endif %}
                            <span class="deadline">Осталось {{ labtask.deadline|timeuntil }}</span>
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                Пока лабораторных работ нет
            {% endif %}
        {% else %}
            {% if course.active_labtasks.count > 0 %}
                <ol>
                    {% for labtask in course.active_labtasks.all %}
                        <li>
                            <a href="{% url 'labtask' labtask.id %}">{{ labtask }}</a>
                            <span class="deadline">Осталось {{ labtask.deadline|timeuntil }}</span>
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                Пока лабораторных работ нет
            {% endif %}
        {% endif %}
    </div>

    <div>
        <h3>
            Другие задания
            {% if is_teacher %}
                <a class="btn btn-xs btn-info" href="{% url 'add_task' course.id %}">{{ 'plus'|fa }}</a>
            {% endif %}
        </h3>
        {% if course.non_labtasks.count > 0 %}
            <ol>
                {% for task in course.non_labtasks.all %}
                    <li>
                        {{ task.title }}
                        {% if is_teacher %}
                            <a title="Выставить оценки" class="btn btn-xs btn-success" href="{% url 'set-marks' task.id %}">{{ 'trophy'|fa }}</a>
                            <form method="post" action="{% url 'task_action' task.id %}" style="display: inline-block;">
                                {% csrf_token %}
                                <button name="action" value="edit" class="btn btn-xs btn-default">
                                    {{ 'pencil'|fa }}
                                </button>
                                <button name="action" value="delete" class="btn btn-xs btn-danger delete-button">
                                    {{ 'remove'|fa }}
                                </button>
                            </form>
                        {% endif %}
                        {% if task.quiz.count %}
                            {% if is_student %}
                                {% with task|get_quiz_result_for:user as quiz_result %}
                                    {% if quiz_result %}
                                        <a class="btn btn-xs btn-success" href="{% url 'quiz_results' task.id %}?id={{ quiz_result.id }}">{{ 'star'|fa }} Результат</a>
                                    {% else %}
                                        <a class="btn btn-xs btn-danger" href="{% url 'start_quiz' task.id %}">{{ 'pencil-square-o'|fa }} Пройти тест</a>
                                    {% endif %}
                                {% endwith %}
                            {% endif %}
                            {% if is_teacher %}
                                <a class="btn btn-xs btn-info" href="{% url 'quiz_results' task.id %}">{{ 'bar-chart'|fa }} Результаты</a>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            Пока других заданий нет
        {% endif %}
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>
                Последние статьи
                {% if is_teacher %}
                    <a class="btn btn-xs btn-info" href="{% url 'add_article' course.id %}">{{ 'plus'|fa }}</a>
                {% endif %}
            </h3>
            {% for article in articles %}
                <div class="article">
                    <div class="article-date">{{ article.datetime|timesince }} назад</div>
                    <div class="article-title">
                        <a href="{% url 'article' article.slug %}">{{ article.title }}</a>
                    </div>

                    <div class="article-preview">{{ article.preview|safe }}</div>
                    <a href="{% url 'article' article.slug %}" class="btn btn-default btn-sm">Читать дальше →</a>
                    {% if article.author == user %}
                        <a class="btn btn-sm btn-info" href="{% url 'edit_article' article.id %}">{{ 'pencil'|fa }} Изменить</a>
                    {% endif %}
                    <div class="clearfix"></div>
                    <div class="article-data">
                        <span class="fa fa-eye"></span> {{ article.viewed }} <span class="tab"></span>
                        <span class="fa fa-mobile"></span> {{ article.viewed_mobile }} <span class="tab"></span>
                        <span class="fa fa-user"></span> {{ article.author.get_full_name }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
