{% extends 'students/base.html' %}
{% load staticfiles my_tags i18n %}
{% block title %}
    <title>{{ group.name }}</title>
{% endblock %}
{% block content %}
    <h1>{{ group.name }}</h1>

    <div class="long-view" style="overflow: scroll;">
        <h3>Студенты</h3>
        {% if group.students.count > 0 %}
            <style>
                td {
                    vertical-align: middle !important;
                }
            </style>
            <table class="table table-responsive table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ФИО</th>
                    <th>Дата рождения</th>
                    <th>Email</th>
                    <th>Тел</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for student in group.active_students %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <div class="mini-student-avatar">
                                <img src="{{ student.avatar_url }}">
                            </div>
                            <a href="{% url 'student' student.id %}">
                                {{ student.user.fullname }}
                            </a>
                        </td>
                        <td><span class="fa fa-calendar"></span> {{ student.user.date_of_birth }}</td>
                        <td>
                            <a href="mailto:{{ student.user.email }}"><span class="fa fa-envelope"></span></a>
                            {{ student.user.email }}
                        </td>
                        <td><span class="fa fa-phone"></span> {{ student.user.phone }}</td>
                        <td>
                            {% if student.user.is_active %}
                                <a href="{% url 'activate_student' student.id %}" class="btn btn-xs btn-danger">Деактивировать</a>
                                <a href="{% url 'expel_student' student.id %}" class="btn btn-xs btn-warning delete-button">Отчислить</a>
                            {% else %}
                                <a href="{% url 'activate_student' student.id %}" class="btn btn-xs btn-success">Активировать</a>
                                <a href="{% url 'delete_student' student.id %}" class="btn btn-xs btn-danger delete-button">Удалить</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            Пока студентов нет
        {% endif %}
    </div>
{% endblock %}
