{% extends 'students/base.html' %}
{% load staticfiles my_tags i18n %}
{% block title %}
    <title>Лабораторная работа: {{ labtask.title }}</title>
{% endblock %}
{% block head %}
    <link rel="stylesheet"
          href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/monokai.css' %}"/>
    <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333333;
        }

        p {
            margin: 0 0 10px;
        }

        code {
            overflow: scroll;
            white-space: inherit !important;
            word-wrap: normal !important;
        }

        pre {
            padding: 0px !important;
            background-color: transparent !important;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Лабораторная работа: {{ labtask.title }}</h1>
    <div class="lead">
        {{ course }} <br>
        Дедлайн: {{ labtask.deadline|date:"d.m.Y H:i" }}<br>
        {% if is_student %}
            <a id="upload-form-expand" class="btn btn-sm btn-default" href="#">Загрузить решение</a>
            <div style="overflow: scroll;">
                <div style="{% if not form.errors %} display: none; {% endif %} margin-top: 10px; width: 700px;"
                     id="upload-form" class="panel panel-default">
                    <div class="panel-body">
                        {% if labtask.constraints.count > 0 %}
                            <b>Ограничения:</b>
                            <ul class="errorlist" style="font-size: 12px; list-style: disc; margin-left: 17px;">
                                {% for cons in labtask.constraints.all %}
                                    <li>{{ cons }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}
                            {% for field in form %}
                                <div class="form-group {% if field.errors %}has-error{% endif %} ">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="help-block">
                                            {{ field.errors.0 }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <input type="submit" class="btn btn-sm btn-default" value="Загрузить">
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% if is_teacher %}
        <form method="post" action="{% url 'labtask_action' labtask.id %}">
            {% csrf_token %}
            <button name="action" value="edit" class="btn btn-sm btn-info">
                {{ 'pencil'|fa }} Изменить лабу
            </button>
            <button name="action" value="delete" class="btn btn-sm btn-danger delete-button">
                {{ 'remove'|fa }} Удалить лабу
            </button>
        </form>
    {% endif %}
    <div>
        {% if labtask.attachment.name %}
            <b>Приложение к лабе:</b> <a href="{{ labtask.attachment.url }}" download>Скачать</a>
            <hr>
        {% endif %}
        {{ labtask.body|safe }}
    </div>
    <script>
        $(document).ready(function () {
            $("#upload-form-expand").on("click", function () {
                $("#upload-form").show();
                $(this).hide();
            });
        })
    </script>
{% endblock %}
