{% extends 'students/base.html' %}

{% load staticfiles my_tags i18n %}
{% block content %}
    <div class="container">
        <h1>Лабораторная работа: {{ labtask.title }}</h1>
        <div class="lead">
            {{ course }} <br>
            Дедлайн: {{ labtask.deadline|date:"d.m.Y H:i" }}<br>
            {% if user|is_student %}
                <a id="upload-form-expand" class="btn btn-sm btn-default" href="#">Загрузить решение</a>
                <div style="{% if not form.errors %} display: none; {% endif %} margin-top: 10px; width: 700px;" id="upload-form" class="panel panel-default">
                    <div class="panel-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}
                            {% for field in form %}
                                <div class="form-group {% if field.errors %}has-error{% endif %} ">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="help-block">
                                            {{ field.errors.0 }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <input type="submit" class="btn btn-sm btn-default" value="Загрузить">
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
        <div>
            {{ labtask.body|safe }}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#upload-form-expand").on("click", function () {
                $("#upload-form").show();
            });
        })
    </script>
{% endblock %}
