{% extends 'students/base.html' %}

{% load staticfiles my_tags i18n %}
{% block content %}
    <div class="container">
        <h1>{{ course.name }}</h1>
        <div class="lead">
            Оценки студентов <br>
        </div>
        <div>
            <table class="table table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>ФИО</th>
                        {% for lab in labs %}
                            <th>Лаб {{ forloop.counter }}</th>
                        {% endfor %}
                        <th>Медали</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in course.groups.all %}
                        <tr>
                            <th colspan="{{ 3|add:labs.count }}">{{ group.name }}</th>
                        </tr>
                        {% for student in group.students.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ student.user.get_full_name }}</td>
                                {% for lab in labs %}
                                    <td class="mark">
                                        {{ solutions_map|solutions_for_lab:lab|best_mark_of_student:student }}
                                        {% if solutions_map|solutions_for_lab:lab|for_student:student|length > 0 %}
                                            <a target="_blank" title="{% trans 'Посмотреть работу' %}" href="{{ lab|url_for_solution:student }}"><span class="fa fa-external-link"></span></a>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                                <td>
                                    {% for medal in medals_by_students|medals_of:student %}
                                        <div class="medal">
                                            <img src="{{ medal.medal.image.url }}" title="{{ medal.medal.name }}">
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <script>
        $(document).ready(function(){
            $(".mark").each(function(){
                var mark = parseInt($(this).text().trim());
                if(mark > 10){
                    $(this).addClass("success");
                }
            });
        })
    </script>
{% endblock %}
