{% extends 'students/base.html' %}

{% load staticfiles my_tags i18n %}
{% block content %}
    <h1>Выставить оценки за "{{ task }}"</h1>
    <div class="lead">
        {% trans 'Курс' %}: {{ course.name }}
    </div>
    <div style="margin-top: 10px;" class="panel panel-default">
        <div class="panel-body">
            <form method="post" enctype="multipart/form-data" id="this-form">
                {% csrf_token %}
                {% for form in group_forms %}
                    <h4>{{ form.group.name }}</h4>
                    {% for field  in form %}
                        <div>
                            {{ field }}
                            {% if field.errors %}
                                <span class="text-danger">{{ field.errors }}</span>
                            {% endif %}
                            <label for="id_{{ field.name }}">{{ field.label }}</label>
                        </div>
                    {% endfor %}
                {% endfor %}
                <input type="submit" class="btn btn-sm btn-default" value="Выставить оценки">
            </form>
        </div>
    </div>

{% endblock %}
